<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Cibertec</title>
</head>
<body>
    
    <h1>Bienvenido al curso de Spring Boot</h1>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime praesentium facilis animi laudantium sint, nihil ipsa deleniti ut velit magnam rerum quo nisi veniam odit maiores totam, dignissimos hic delectus.
    Reprehenderit, alias earum, esse quo, nobis eligendi eos iste voluptate animi corrupti impedit nihil nemo magnam quis tempore hic maiores quaerat. Totam fugiat corporis eveniet. Consequatur atque qui tempora debitis?</p>
	<br>
    <p th:text="Java2023"></p>
    <p th:text="${mensaje}"></p>
    <p th:text="${saludo}"></p>
</body>
</html>